{% extends "layout.html" %}
{% block content %}
        <div> <canvas id="chart"></canvas> </div>

    <div> <canvas id="chart2"></canvas></div>

    <div> <canvas id="chart3"></canvas></div>

        <script>

            var barData = {
                labels: [
                    {%  for item in area_name %}
                        "{{ item }}",
                    {% endfor %}
                ],
            datasets: [{
                   label: 'English Regions',
                   data: [
                       {% for item in new_cases %}
                            "{{ item }}",
                       {% endfor %},


                   ],
                backgroundColor: 'rgba(255,99,132)',
                borderColor: 'rgba(255,99,132)'


            }]



            }
             var ctx =  document.getElementById("chart").getContext("2d");
             var myChart = new Chart(ctx,{
                 type: 'bar',
                 data: barData,
                 options:{
                     responsive: true,
                     legend: {
                         position: 'top',
                     },
                     title:{
                         display: true,
                         text: 'Chart showing new cases for today by Region'
                     }


                 }

             });

        </script>

         <script>
         var barData = {
                labels: [
                    {%  for item in area_name %}
                        "{{ item }}",
                    {% endfor %}
                ],
            datasets: [{
                   label: 'English Regions',
                   data: [
                       {% for item in new_deaths %}
                            "{{ item }}",
                       {% endfor %},


                   ],
                backgroundColor: 'rgba(132,255,99)',
                borderColor: 'rgba(132,255,99)'


            }]



            }
             var ctx =  document.getElementById("chart2").getContext("2d");
             var myChart = new Chart(ctx,{
                 type: 'bar',
                 data: barData,
                 options:{
                     responsive: true,
                     legend: {
                         position: 'top',
                     },
                     title:{
                         display: true,
                         text: 'Chart showing new deaths for today'
                     },



                 }

             });
        </script>

         <script>
         var barData = {
                labels: [
                    {%  for item in area_name %}
                        "{{ item }}",
                    {% endfor %}
                ],
            datasets: [{
                   label: 'English Regions',
                   data: [
                       {% for item in cumulative %}
                            "{{ item }}",
                       {% endfor %},


                   ],
                backgroundColor: 'rgba(99,232,255)',
                borderColor: 'rgba(99,232,255)'


            }]



            }
             var ctx =  document.getElementById("chart3").getContext("2d");
             var myChart = new Chart(ctx,{
                 type: 'bar',
                 data: barData,
                 options:{
                     responsive: true,
                     legend: {
                         position: 'top',
                     },
                     title:{
                         display: true,
                         text: 'Chart showing cumulative number of cases for each region in England'
                     }


                 }

             });
    </script>


{% endblock content %}